.env
.env.*
!03-proyecto-zemyna/programacion/.env.example
!/03-proyecto-zemyna/programacion/.env.docker.example
/03-proyecto-zemyna/programacion/.env.docker

/03-proyecto-zemyna/programacion/.venv/
.venv/
vendor/
.phpunit.result.cache
/node_modules/

.DS_Store
Thumbs.db

/03-proyecto-zemyna/programacion/backend/uploads/incidencias/*
!/03-proyecto-zemyna/programacion/backend/uploads/incidencias/.gitkeep
!/03-proyecto-zemyna/programacion/backend/uploads/incidencias/.htaccess

/03-proyecto-zemyna/programacion/backend/sesion/*.log
/03-proyecto-zemyna/programacion/backend/sesion/*.lock
